*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
}
img {
    border: none;
}
a {
    text-decoration: none;
    color: #444;
}
header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
header {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}
main {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 100px);
}
nav {
    width: 15%;
    background-color: #f5f5f5;
    border-right: 1px solid #e1e1e1;
}
article {
    width: 85%;
    background-color: #eee;
}
footer {
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
@media print, screen and (max-width: 1024px) {
    header,
    main,
    footer {
        width: 100%;
    }
    nav {
        width: 20%;
    }
}
@media print, screen and (max-width: 768px) {
    nav {
        width: 25%;
    }
}
@media print, screen and (max-width: 640px) {
    nav {
        width: 30%;
    }
}
@media print, screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
    nav,
    article {
        width: 100%;
    }
}
/* Общие настройки стилей */
.wrap {
    height: 100%;
    width: 100%;
}
.wrap_padding-tb-10px {
    padding: 10px 0 10px 0;
}
.a:active {
    color: #4285f4;
}
/* Шапка */
.wrap-header {
    display: flex;
    justify-content: space-evenly;
    padding: 0.4rem;
}
.header-section {
    height: 100%;
    width: 19%;
}
.header-section-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
/* Меню */
.menu {
    font-size: 15px;
    color: #444;
    border-bottom: 1px solid #e1e1e1;
}
.menu-list,
.menu-list-index,
.submenu-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.menu-list:hover,
.menu-list-index:hover {
    cursor: pointer;
    background-color: #eee;
    transition: 0.4s;
    border-left: 2px solid #4285f4;
}
.menu-list:after {
    content: '\2B9B';
    color: #777;
    font-weight: bold;
    float: right;
    max-height: 20px;
}
.menu-list:active,
.menu-list-index:active {
    color: #4285f4;
}
.active {
    color: #4285f4;
    border-left: 2px solid #4285f4;
}
.active:after {
    content: '\2B99';
    color: #4285f4;
    max-height: 20px;
}
.menu-list__img {
    height: 20px;
    width: 20px;
}
.menu-list__link {
    width: 100%;
}
.menu-list__link:hover {
    z-index: 1000;
}
.menu-list__text {
    width: 100%;
    padding: 0 15px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-list__text:hover {
    white-space: nowrap;
    overflow: visible;
}
.submenu-list {
    list-style: none;
}
.submenu-list:hover {
    z-index: 1000;
}
.menu-list-item {
    display: none;
    background-color: #eee;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.submenu-list-item:hover {
    width: 100%;
    background-color: #f5f5f5;
}
/* Вывод из БД */
.vg {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.vg-title {
    height: 40px;
    width: 100%;
    border-radius: 5px;
}
.vg-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vg-title_bg-green {
    background-color: #33a450;
}
.vg-title_bg-blue {
    background-color: #4285f4;
}
.vg-circle {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: #4285f4;
}
.vg-text {
    padding: 5px;
    color: #444;
    font-size: 14px;
}
.vg-text_white {
    color: #fff;
}
.vg-button {
    width: 100px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
.vg-button:hover {
    cursor: pointer;
    background-color: #eee;
}
.vg-items {
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fff;
}
.vg-items-item {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}
.vg-item {
    height: 60px;
    width: 33%;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    background-color: #f5f5f5;
}
.vg-item-img {
    height: 100%;
    width: 50%;
    overflow: hidden;
}
.vg-item-text {
    height: 100%;
    width: 50%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media print, screen and (max-width: 768px) {
    .vg-item {
        width: 49%;
    }
}
